.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000db;
  z-index: 5
}

.btn-add {
  background: #fff;
  border: none;
  font-weight: 700;
  color: #222;
  border-radius: 3px;
  padding: 5px 9px;
  cursor: pointer;
}

.btn-cancel {
  background: transparent;
  color: #999;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-right: 15px;
}